thead, tbody, tr, th, td { display: block; }

thead tr {
  /* fallback */
  width: 97%;
  /* minus scroll bar width */
  width: -webkit-calc(100% - 16px);
  width:    -moz-calc(100% - 16px);
  width:         calc(100% - 16px);
}

tr:after {  /* clearing float */
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td, thead th {
  width: 19%;  /* 19% is less than (100% / 5 cols) = 20% */
  float: left;
}
th {
  border-top: none;
}
thead {
  background-color: #2d2d2d;
}
